CREATE USER
  'slave'@'%' IDENTIFIED BY '{{ mysql_users_password }}',
  'maxscale'@'%' IDENTIFIED BY '{{ mysql_users_password }}',
  'exporter'@'%' IDENTIFIED BY '{{ mysql_users_password }}';
GRANT REPLICATION SLAVE ON *.* TO 'slave'@'%';
GRANT ALL PRIVILEGES ON *.* TO 'maxscale'@'%';
GRANT PROCESS, REPLICATION CLIENT ON *.* TO 'exporter'@'%';
GRANT SELECT ON performance_schema.* TO 'exporter'@'%';
