version: "3"

services:
  maxscale:
    container_name: maxscale
    image: {{ maxscale_image }}
    ports:
      - 8989:8989 #RestApiPort
      - 3306:3306
    volumes:
      - /opt/maxscale/maxscale.cnf:/etc/maxscale.cnf
    restart: always
