version: "3"

services:
  grafana:
    user: root
    image: {{ grafana_image }}
    ports:
      - 3000:3000
    volumes:
      - /opt/monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - /opt/monitoring/grafana/data:/var/lib/grafana
