version: "3"

services:
  mariadb:
    image: {{ mariadb_image }}
    ports:
      - 3306:3306
   
    command: --init-file /etc/mysql/init.sql
    volumes:
      - /opt/mariadb/init.sql:/etc/mysql/init.sql
      - /opt/mariadb/data:/var/lib/mysql
      - /opt/mariadb/my.cnf:/etc/mysql/my.cnf
      - /opt/mariadb/log:/var/log/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_pass }}
      - MYSQL_PASSWORD={{ mysql_root_pass }}
